*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
}

body{
    height: 100vh;
    background: linear-gradient(243.18deg, rgba(19, 171, 237, 0.2) 15.22%, rgba(2, 0, 22, 0.2) 100%), #020016;

    
}
main{
  display: flex;
    justify-content: center;
    align-items: center;
}
i.bi-cloud-lightning-rain-fill{
    font-size: 100px;
    background-image: linear-gradient(to left bottom, #ffbc00, #ffb200, #ffa800, #ff9d00, #ff9300);
  
  /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  background-clip: text;
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

  /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;
  
  text-shadow: 0 0 8px #ffbc00, 0 0 20px #ffa800, 0 0 10px #d57c00;

}
main{
  border: 1px solid brown;
}
#card{
  border: 1px solid green;
  height: 30vh;
  width: 40%;
  display: flex;
  flex-direction: row;
  column-gap: 60px;

  padding: 10px;
  background: radial-gradient(98.05% 261.61% at 1.95% 3.59%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
  backdrop-filter: blur(42px);
  border-radius: 10px;
}
.cx{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#local{
  font-size: 18px;
  position: absolute;
  font-weight: 500;
}
input, button{
  height: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(42px);
  border-radius: 10px;
  border: none;
}
.icon{
  border: 1px solid red;

}
.column{
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
}
#local{
  border: 1px solid yellow;
}
#clima{
  font-weight: 600;
  font-size: 19px;
}
#temp{
  font-weight: 500;
  font-size: 45px;
}
#day, #data{
  font-weight: 500;
  font-size: 12px;
}
#linha{
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  height: 95%;
  width: 1px;
}
#grid{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5%;
}

/*background opções: 252627, 2A2C35*/
/*text-shadow: 0 0 8px #ffbc00, 0 0 35px #ffa800, 0 0 60px #ff9300;*/
/*text-shadow: 15px 10px 10px rgba(255, 170, 0, 0.6);*/